In [1]:
import numpy as np
import pandas as pd

In [2]:
obj=pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.array

<NumpyExtensionArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj2=pd.Series([4,7,-5,3], index=["d","b","a","c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
obj2["a"]

np.int64(-5)

In [7]:
obj2["d"]=6

In [8]:
obj2[["c","a","d"]]

c    3
a   -5
d    6
dtype: int64

In [9]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [10]:
obj*2

0     8
1    14
2   -10
3     6
dtype: int64

In [11]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [12]:
"b" in obj2

True

In [13]:
sdata={
    "Ohio": 35000, 
    "Texas": 71000, 
    "Oregon": 16000, 
    "Utah": 5000
}
obj3=pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [14]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [15]:
print(sdata)
states=["California","Ohio","Oregon","Texas"]
obj4=pd.Series(sdata,index=states)
obj4

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [16]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [17]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [18]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [19]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [20]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [21]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [22]:
obj4.name="population"

In [23]:
obj4.index.name="state"

In [24]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [25]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [26]:
obj=pd.Series([4,7,-5,3])

In [27]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [28]:
obj.index=["Bob","Steve","Jeff","Ryan"]

In [29]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [32]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [33]:
data1=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])

In [34]:
data1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [35]:
data1["a"]=10

In [36]:
data1

a    10
b     2
c     3
d     4
e     5
dtype: int64